* {
    box-sizing: border-box;
}

/* nanoscrollbar */
.nano .pane   { background: #888; }
.nano .slider { background: #111; }

body {
    background: linear-gradient(0deg, rgba(0,159,255,1) 0%, rgba(0,99,255,1) 100%);
    border: 0 !important;
    font-family: 'Roboto', sans-serif;
}

#container{
    width: 92%;
    margin: 4%;
    border: 0;
    position: relative;
}

.task-list{
    width: 23%;
    float: left;
    margin: 1%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);
}

.task-list input, .task-list textarea{
    height: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    width: 92%;
    padding: 20px;
    padding-left: 12px;
    margin: 0 4%;
    border: none;
    resize: none;
    letter-spacing: 0.25;
    font-size: 13px;
}

.task-list textarea {
    height: 100px;
    padding: 15px;
    margin: 10px;
}

.todo-task{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    width: 92%;
    margin: 4%;
    padding: 15px;
    cursor: pointer;
}

.todo-task:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.todo-task:active{
    background: #006cff;
}

.task-list input[type="button"]{
    width: 100px;
    margin: 5px;

}

.todo-task > .task-header{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.4;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.4;
    padding-top: 4px;
}

#todo-form {
    height: 280px;
    width: 100%;
    position: relative;
}

h3{
    font-weight: 400;
    text-align: left;
    margin: 4%;
    padding: 15px;
}

.btn {
    width: 50px;
    height: 50px;
    line-height: 0;
    border-radius: 40px;
    font-size: 25px;
    border: none;
    background: rgba(0,99,255,1);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}

.btn:active {
    background: rgb(0, 63, 162);
}

#delete-div{
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    width: 92%;
    margin: 4%;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    display: block;
    line-height: 75px;
    
}


